.error {
    display: block;
    position: absolute;
    width: 500px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.error__slogan {
    margin: 0;

    font-size: 50px;
}

.error__status {
    margin: 0;

    font-size: 30px;
}