.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px; 
    flex-shrink: 1;
    
    font-size: 25px;

    background-color: #326789;
    color: #FBFBFB;
    border-radius: 15px;
}

.form__label {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    
    font-weight: 700;
}

.form__input {
    margin-bottom: 10px;
    padding: 5px;

    font-size: 25px;
    color: #FBFBFB;

    background: none;
    border: none;
}

.form__label::after {
    content: "";
    width: 330px;
    position: absolute;
    top: 67px;
    
    border-bottom: 1px solid #FBFBFB;
    opacity: 0.5;
    background-color: #FBFBFB;
}

.form__label::before {
    content: "";
    width: 0px;
    position: absolute;
    top: 67px;
    
    border-bottom: 1px solid #FBFBFB;
    opacity: 1;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
    background-color: #FBFBFB;
}

.form__input:hover,
.form__input:focus,
.form__input:active {
    opacity: 1;
    outline: none;
}

.form__label:hover::before,
.form__label:focus::before,
.form__label:active::before {
    width: 330px;
}

.form__submit {
    padding: 5px 15px;
    margin-bottom: 5px;

    font-size: 25px;
    color: #FBFBFB;

    background-color: #78A6C8;
    border: none;
    border-radius: 15px;
}

.form__show-pass {
    position: absolute;
    left: 270px;

    background: none;
    cursor: pointer;
    border: none;
}

.form__show-pass svg {
    opacity: 0.5;
    transition-duration: 200ms;
}

.form__show-pass:hover svg,
.form__show-pass:focus svg {
    opacity: 1;
}

.form__show-pass::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 0;
    top: 15px;
    left: 5px;
    transform: rotate(45deg);

    border: 1.5px solid #E65C4F;
    transition-duration: 200ms;
}

.form__label.text .form__show-pass::after {
    opacity: 0;
}

.incorrect .form__input{
    animation: appearing 1000ms ease-in-out 0ms 1 forwards;
}

@keyframes appearing {
    0% {
        background: linear-gradient(0deg, rgba(230,92,79,1) 0%, rgba(255,255,255,0) 0%);
    }

    10% {
        background: linear-gradient(0deg, rgba(230,92,79,1) 0%, rgba(255,255,255,0) 10%);
    }
    
    20% {
        background: linear-gradient(0deg, rgba(230,92,79,1) 0%, rgba(255,255,255,0) 20%);
    }
    
    30% {
        background: linear-gradient(0deg, rgba(230,92,79,1) 0%, rgba(255,255,255,0) 30%);
    }
    
    40% {
        background: linear-gradient(0deg, rgba(230,92,79,1) 0%, rgba(255,255,255,0) 40%);
    }
    
    50% {
        background: linear-gradient(0deg, rgba(230,92,79,1) 0%, rgba(255,255,255,0) 50%);
    }
    
    60% {
        background: linear-gradient(0deg, rgba(230,92,79,1) 0%, rgba(255,255,255,0) 60%);
    }
    
    70% {
        background: linear-gradient(0deg, rgba(230,92,79,1) 0%, rgba(255,255,255,0) 70%);
    }
    
    80% {
        background: linear-gradient(0deg, rgba(230,92,79,1) 0%, rgba(255,255,255,0) 80%);
    }
    
    90% {
        background: linear-gradient(0deg, rgba(230,92,79,1) 0%, rgba(255,255,255,0) 90%);
    }

    100% {
        background: linear-gradient(0deg, rgba(230,92,79,1) 0%, rgba(255,255,255,0) 100%);
    }
}

.form__error-message {
    padding: 0;
    margin: 0;
    width: 330px;
    
    font-size: 20px;
    font-weight: 100;
}

.form__register-suggestion {
    width: 300px;
    padding: 10px;

    color: #FBFBFB;
    font-size: 20px;
}

.form__register-suggestion:hover,
.form__register-suggestion:focus {
    text-decoration: underline;
}